---
import Layout from "@/layouts/Layout.astro";
import { db, Album, eq, Song } from "astro:db";

const { id } = Astro.params as { id: string };

const album = await db.select().from(Album).where(eq(Album.id, id)).get();
if (!album) {
    return new Response(
        JSON.stringify({
            error: "",
        }),
        {
            status: 404,
        },
    );
}

const songs = await Promise.all(
    album.songs.map(async (songId: string) => {
        return await db
            .select({
                id: Song.song_id,
                name: Song.name,
                duration: Song.duration,
            })
            .from(Song)
            .where(eq(Song.song_id, songId))
            .get();
    }),
);

function getTime(seconds: number) {
    seconds = Math.round(seconds);

    if (typeof seconds !== "number" || isNaN(seconds)) {
        return "Invalid input";
    }

    // Calculate minutes and remaining seconds
    const minutes = Math.floor(seconds / 60);
    const remainingSeconds = Math.round(seconds % 60);

    // Format the result with leading zeros
    const formattedMinutes = String(minutes).padStart(2, "0");
    const formattedSeconds = String(remainingSeconds).padStart(2, "0");

    return `${formattedMinutes}:${formattedSeconds}`;
}

function getMinutes(seconds: number) {
    seconds = Math.round(seconds);

    if (typeof seconds !== "number" || isNaN(seconds)) {
        return "Invalid input";
    }

    // Calculate minutes and remaining seconds
    const minutes = Math.floor(seconds / 60);
    const remainingSeconds = Math.round(seconds % 60);

    // Format the result with leading zeros
    const formattedMinutes = String(minutes).padStart(2, "0");
    const formattedSeconds = String(remainingSeconds).padStart(2, "0");

    return `${formattedMinutes}`;
}

function getDate(date: string) {
    const dateSplit = date.split("-");

    return dateSplit[0];
}
---

<Layout title={album.name} currentPage="">
    <div
        class="p-4 g rid flex flex-row w-full h-full grid-cols-[min-content_1fr] relative"
    >
        <div
            class="flex flex-col gap-1 relative top-1/2 -translate-y-1/2 w-1/3 max-w-96 h-fit mx-10"
        >
            <label class="text-center text-xl font-semibold"
                >{album.artists.map((artist) => artist.name)}</label
            >
            <img
                src={album.images[0].url}
                class=""
                transition:name={`img-album-${album.id}`}
            />
            <label class="text-xl font-semibold">{album.name}</label>
            <label class="text-sm"
                >{getDate(album.releaseDate)} | {album.songs.length} Songs | {
                    getMinutes(
                        songs.reduce((accumulator: number, song) => {
                            return accumulator + song.duration;
                        }, 0),
                    )
                } Minutes</label
            >
        </div>
        <div
            class="min-w-0 max-w-full w-full min-h-0 max-h-full h-full overflow-auto flex flex-col gap-y-4"
        >
            {
                songs.map((song, index) => (
                    <div class="flex flex-row items-center gap-4 hover:bg-zinc-500/10 transition-colors px-2 py-1 rounded">
                        <label class="text-sm text-white/80 w-10 text-center">
                            {index + 1}
                        </label>
                        <label class="text-base font-semibold w-full">
                            {song.name}
                        </label>
                        <label class="text-sm text-white/80">
                            {getTime(song.duration)}
                        </label>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
