---
import Layout from "@/layouts/Layout.astro";
import { db, type AlbumDB, type PlaylistDB } from "@/lib/db";

if (!Astro.locals.user) {
    return Astro.redirect("/login");
}

const playlists = db.prepare("SELECT * FROM playlist").all() as PlaylistDB[];
const albums = db.prepare("SELECT * FROM album").all() as AlbumDB[];
---

<Layout title="Rock It!" currentPage="Library">
    <div class="p-4">
        <label class="text-white text-4xl font-bold"> Library </label>
        <div
            class="grid gap-4"
            style="grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));"
        >
            {
                playlists.map((playlist) => (
                    <div class="flex flex-col gap-1">
                        <img
                            class=""
                            src={JSON.parse(playlist.images)[0]?.url}
                        />
                        <label class="truncate font-semibold">
                            {playlist.name}
                        </label>
                        <label class="truncate text-sm">{playlist.owner}</label>
                    </div>
                ))
            }
            {
                albums.map((album) => (
                    <a
                        href={`/album/${album.id}`}
                        class="w-fit h-fit flex flex-col min-w-0 max-w-full hover:scale-105 transition-transform"
                    >
                        <img
                            class=""
                            src={JSON.parse(album.images)[0]?.url}
                            transition:name={`img-album-${album.id}`}
                        />
                        <label class="truncate font-semibold">
                            {album.name}
                        </label>
                        <label class="truncate text-sm">
                            {JSON.parse(album.artists).map(
                                (artist) => artist.name,
                            )}
                        </label>
                    </a>
                ))
            }
        </div>
    </div>
</Layout>
