---
import Layout from "@/layouts/Layout.astro";
import {
    db,
    type SongDB,
    type RawSongDB,
    parsePlaylist,
    parseSong,
    type RawPlaylistDB,
    type UserDB,
    parseUser,
    type RawUserDB,
    type PlaylistDBSongWithAddedAt,
} from "@/lib/db";
import PlaylistSongsView from "@/components/PlaylistSongsView";
import PlaylistHeader from "@/components/playlistHeader.astro";

const { id } = Astro.params as { id: string };
if (!Astro.locals.user) {
    return Astro.redirect("/login");
}
let playlist;
let inDatabase;

if (id == "liked") {
    const userDB = parseUser(
        db
            .prepare("SELECT likedSongs FROM user WHERE id = ?")
            .get(Astro.locals.user.id) as RawUserDB
    ) as UserDB<"likedSongs">;

    playlist = {
        name: "Liked",
        songs: userDB.likedSongs.map((song) => song),
        image: "",
        images: [{ url: "/song-placeholder.png" }],
        owner: "",
    };
} else {
    playlist = parsePlaylist(
        db
            .prepare("SELECT * FROM playlist WHERE id = ?")
            .get(id) as RawPlaylistDB
    );
}

if (playlist) {
    inDatabase = true;
} else {
    return new Response(
        JSON.stringify({
            error: "",
        }),
        {
            status: 404,
        }
    );
}

const songs = playlist.songs
    .map(
        (
            song
        ):
            | PlaylistDBSongWithAddedAt<
                  | "name"
                  | "albumId"
                  | "duration"
                  | "artists"
                  | "path"
                  | "albumName"
                  | "image"
                  | "id"
                  | "images"
              >
            | undefined => {
            return {
                added_at: song.added_at,
                ...(parseSong(
                    db
                        .prepare(
                            "SELECT name, albumId, duration, artists, path, albumName, image, images, id FROM song WHERE id = ?"
                        )
                        .get(song.id) as RawSongDB
                ) as SongDB<
                    | "name"
                    | "albumId"
                    | "duration"
                    | "artists"
                    | "path"
                    | "albumName"
                    | "image"
                    | "id"
                    | "images"
                >),
            };
        }
    )
    .filter(
        (
            song
        ): song is PlaylistDBSongWithAddedAt<
            | "id"
            | "images"
            | "image"
            | "name"
            | "albumId"
            | "duration"
            | "artists"
            | "path"
            | "albumName"
        > => song !== undefined
    );
---

<Layout
    title={playlist.name + " • Rock It!"}
    currentPage=""
    bgImage={`/api/image/blur/${playlist.image}`}
>
    <div class="mt-20 md:mt-0"></div>
    <div
        class="px-3 md:px-0 flex md:flex-row flex-col w-full md:h-full relative"
    >
        <PlaylistHeader
            id={id}
            playlist={playlist}
            songs={songs}
            inDatabase={inDatabase}
            className="hidden md:flex"
        />
        <div
            class="min-w-0 max-w-full w-full min-h-0 max-h-full h-full overflow-auto flex flex-col gap-y-1 md:pr-6"
        >
            <PlaylistHeader
                id={id}
                playlist={playlist}
                songs={songs}
                inDatabase={inDatabase}
                className="md:hidden flex"
            />
            <PlaylistSongsView id={id} songs={songs} client:only="react" />
            <div class="min-h-20"></div>
        </div>
    </div>
</Layout>
