---
import Layout from "@/layouts/Layout.astro";
import { ENV } from "@/rockitEnv";
import type { SpotifyArtist, SpotifyArtistTopTracks } from "@/types/spotify";
import { Play } from "lucide-react";

if (!Astro.locals.user) {
    return Astro.redirect("/login");
}

const { id } = Astro.params as { id: string };
let response = await fetch(`${ENV.BACKEND_URL}/artist/${id}`);
const artistData = (await response.json()) as SpotifyArtist;

artistData.images.sort((b, a) => a.width + a.height - (b.width + b.height));

response = await fetch(`${ENV.BACKEND_URL}/artist-top-songs/${id}`, {
    signal: AbortSignal.timeout(2000),
});

let artistSongs: SpotifyArtistTopTracks | undefined;

if (response.ok) {
    artistSongs = (await response.json()) as SpotifyArtistTopTracks;
}

// Mockup de la página para un artista.
const artistName = artistData.name;
const artistImage = artistData.images[0].url;
---

<Layout title="Rock It!" currentPage="Search">
    <body class="min-h-screen flex flex-col bg-[#343434] text-white">
        <!-- Contenedor principal -->
        <div
            class="relative w-full bg-no-repeat bg-top bg-[size:120%] md:bg-[size:100%]"
            style={`background-image: url('${artistImage}'); background-attachment: fixed;`}
        >
            <!-- Contenido -->
            <div class="relative z-10 flex flex-col h-screen">
                <!-- Parte superior -->
                <div
                    class="h-1/4 md:h-1/2 w-full p-4 md:p-8 bg-gradient-to-b from-transparent to-black/50 flex flex-shrink-0 items-end"
                >
                    <h1 class="text-4xl md:text-8xl font-extrabold text-left">
                        {artistName}
                    </h1>
                </div>

                <!-- Parte inferior -->
                <div
                    class="bg-gradient-to-b from-[rgba(0,0,0,0.7)] to-[#171717] backdrop-blur-[20px] p-4 md:p-8"
                >
                    <h2 class="text-xl md:text-2xl font-semibold mb-2 md:mb-4">
                        Información del Artista
                    </h2>
                    <p
                        class="text-gray-400 mb-4 md:mb-6 text-sm md:text-base line-clamp-2"
                    >
                        Placeholder para la descripción del artista o
                        estadísticas. Necesitamos debatir qué poner aquí
                        Ignacio, tipo nº de oyentes o descripción de Wikipedia o
                        canciones y álbumes....
                    </p>
                </div>

                <!-- Sección principal -->
                <section class="bg-[#171717] h-full px-5 md:px-52 py-4 md:py-0">
                    <div
                        class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-52"
                    >
                        <!-- Columna Izquierda: Top Songs -->
                        <div>
                            <h2
                                class="text-white text-xl md:text-2xl font-bold mb-2 md:mb-4"
                            >
                                Top Songs
                            </h2>
                            <div class="space-y-2 md:space-y-4">
                                <!-- Canción 1 -->
                                <div class="space-y-2">
                                    {
                                        artistSongs &&
                                            artistSongs.tracks.map(
                                                (song, index) => (
                                                    <div class="group flex items-center space-x-4 rounded-md md:hover:bg-[#212121] p-2 transition">
                                                        {/* Número de posición */}
                                                        <div class="text-gray-400 text-sm md:text-lg font-semibold w-2 md:w-6 text-center">
                                                            {index + 1}
                                                        </div>

                                                        {/* Imagen de la canción */}
                                                        <div class="relative group w-10 h-10 md:w-12 md:h-12">
                                                            <img
                                                                src={
                                                                    song.album
                                                                        .images[0]
                                                                        .url ??
                                                                    "/song-placeholder.png"
                                                                }
                                                                alt={`Song ${index + 1}`}
                                                                class="w-full h-full rounded object-cover transition duration-300 group-hover:brightness-50"
                                                            />
                                                            {/* Icono de Play */}
                                                            <Play className="absolute inset-0 m-auto w-4 h-4 md:w-5 md:h-5 text-white fill-current opacity-0 group-hover:opacity-100 transition duration-300" />
                                                        </div>

                                                        {/* Información de la canción */}
                                                        <div class="flex-1 min-w-0">
                                                            <p class="text-white text-sm md:text-base font-semibold truncate">
                                                                {song.name}
                                                            </p>
                                                        </div>

                                                        {/* Duración */}
                                                        <p class="text-gray-300 text-sm md:text-base pr-2">
                                                            3:45
                                                        </p>
                                                    </div>
                                                )
                                            )
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- Columna Derecha: Top Albums -->
                        <div>
                            <h2
                                class="text-white text-xl md:text-2xl font-bold mb-2 md:mb-4"
                            >
                                Top Albums
                            </h2>
                            <div class="space-y-2 md:space-y-4">
                                <div class="space-y-2">
                                    {
                                        Array.from(
                                            { length: 5 },
                                            (_, index) => (
                                                <div class="group flex items-center space-x-4 rounded-md md:hover:bg-[#212121] p-2 transition">
                                                    {/* Número de posición */}
                                                    <div class="text-gray-400 text-sm md:text-lg font-semibold w-2 md:w-6 text-center">
                                                        {index + 1}
                                                    </div>

                                                    {/* Cover del álbum */}
                                                    <div class="relative group w-10 h-10 md:w-12 md:h-12">
                                                        <img
                                                            src="/song-placeholder.png"
                                                            alt={`Song ${index + 1}`}
                                                            class="w-full h-full rounded object-cover transition duration-300 group-hover:brightness-50"
                                                        />
                                                        {/* Icono de Play */}
                                                        <Play className="absolute inset-0 m-auto w-4 h-4 md:w-5 md:h-5 text-white fill-current opacity-0 group-hover:opacity-100 transition duration-300" />
                                                    </div>

                                                    {/* Información del álbum */}
                                                    <div class="flex-1 min-w-0">
                                                        <p class="text-white text-sm md:text-base font-semibold truncate">
                                                            Album {index + 1} •
                                                            2024
                                                        </p>
                                                    </div>

                                                    {/* Duración */}
                                                    <p class="text-gray-300 text-sm md:text-base pr-2">
                                                        37 Minutes
                                                    </p>
                                                </div>
                                            )
                                        )
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="md:px-32 md:pt-12 py-3 text-white bg-[#171717]">
                    <h2 class="text-2xl font-bold text-left px-5 md:px-0">
                        Albums & Singles
                    </h2>
                    <div
                        class="relative flex items-center gap-5 overflow-x-auto py-4 px-8 md:px-2 md:[scrollbar-gutter:stable]"
                    >
                        <!-- Aquí creamos las canciones -->
                        {
                            Array.from({ length: 3 }).map((_, index) => (
                                <a
                                    href="#"
                                    class="flex-none w-36 md:w-48 md:hover:scale-105 transition"
                                >
                                    <img
                                        class="rounded-lg w-full aspect-square object-cover"
                                        src="/song-placeholder.png"
                                        alt="Song Cover"
                                    />
                                    <label class="truncate font-semibold text-center block mt-2">
                                        Song Title {index + 1}
                                    </label>
                                    <label class="truncate text-sm text-center text-gray-400 block">
                                        Artist Name
                                    </label>
                                </a>
                            ))
                        }
                    </div>
                </section>

                <section class="md:px-32 pt-3 pb-10 text-white bg-[#171717]">
                    <h2 class="text-2xl font-bold text-left px-5">
                        Related Artists
                    </h2>
                    <div
                        class="relative flex items-center gap-5 overflow-x-auto py-4 px-8 md:px-2 md:[scrollbar-gutter:stable]"
                    >
                        <!-- Aquí creamos las canciones -->
                        {
                            Array.from({ length: 3 }).map((_, index) => (
                                <a
                                    href="#"
                                    class="flex-none w-36 md:w-48 md:hover:scale-105 transition"
                                >
                                    <img
                                        class="rounded-full w-full aspect-square object-cover"
                                        src="/user-placeholder.png"
                                        alt="Artist Profile Pic"
                                    />
                                    <label class="truncate font-semibold text-center block mt-2">
                                        Artist {index + 1}
                                    </label>
                                </a>
                            ))
                        }
                    </div>
                </section>
                <div class="min-h-8 md:min-h-0 bg-[#171717]"></div>
            </div>
        </div>
    </body>
</Layout>
