---
import Layout from "@/layouts/Layout.astro";
import { db, parseSong, type RawSongDB, type SongDB } from "@/lib/db";
import getAlbum from "@/lib/getAlbum";
import { getTime } from "@/lib/getTime";

import type {
    SpotifyArtistTopTracks,
    SpotifyArtist,
    SpotifyTrack,
} from "@/types/spotify";

import SongPageCover from "@/components/SongPageCover";

if (!Astro.locals.user) {
    return Astro.redirect("/login");
}
const { id } = Astro.params as { id: string };

let inDatabase;
let song:
    | SongDB<
          | "id"
          | "albumId"
          | "artists"
          | "name"
          | "lyrics"
          | "image"
          | "path"
          | "images"
          | "albumName"
          | "duration"
      >
    | undefined;
let artistSongs;
let album;
let artist: SpotifyArtist | undefined;
song = parseSong(
    db.prepare("SELECT * FROM song WHERE id = ?").get(id) as RawSongDB
);

const BACKEND_URL = process.env.BACKEND_URL;

if (song) {
    inDatabase = true;

    const _album = await getAlbum(song?.albumId);
    if (_album == "error connecting to backend") {
    } else if (_album == "not found") {
    } else {
        album = _album;
    }
} else {
    inDatabase = false;
    let response;

    response = await fetch(`${BACKEND_URL}/song/${id}`);
    if (response.ok) {
        const spotifySong = (await response.json()) as SpotifyTrack;
        song = {
            id: spotifySong.id,
            image: "",
            albumId: spotifySong.album.id,
            artists: spotifySong.artists,
            name: spotifySong.name,
            lyrics: "",
            path: "",
            images: spotifySong.album.images,
            albumName: spotifySong.album.name,
            duration: spotifySong.duration_ms / 1000,
        };
    } else {
        return new Response("Song not found", { status: 404 });
    }
    const _album = await getAlbum(song.albumId);
    if (_album == "error connecting to backend") {
    } else if (_album == "not found") {
    } else {
        album = _album;
    }
}

if (!album) {
    return new Response("Album not found", { status: 500 });
}

let response;

response = await fetch(`${BACKEND_URL}/artist-top-songs/${song.artists[0].id}`);
if (response.ok) {
    artistSongs = (await response.json()) as SpotifyArtistTopTracks;
}

response = await fetch(`${BACKEND_URL}/artist/${song.artists[0].id}`);
if (response.ok) {
    artist = await response.json();
}
---

<Layout title="Rock It!" currentPage="Song-Info">
    <div class="w-full mx-auto p-6">
        <!-- Header con botones y carátula -->
        <div class="w-full mx-auto p-6 grid grid-cols-3 gap-4 items-center">
            <!-- Columna izquierda: Artista -->
            <div class="flex flex-col items-center justify-center">
                <div
                    class="flex items-center bg-gray-200 p-4 rounded-lg shadow-md w-full max-w-sm"
                >
                    <!-- Foto del artista -->
                    <div
                        class="w-32 h-32 bg-gray-300 rounded-full overflow-hidden flex-shrink-0"
                    >
                        <img
                            src={artist?.images[0].url ||
                                "/user-placeholder.png"}
                            alt="Artista"
                            class="w-full h-full object-cover"
                        />
                    </div>
                    <!-- Nombre del artista -->
                    <div class="ml-4">
                        <a
                            class="text-2xl font-bold text-gray-800 text-left hover:underline hover:cursor-pointer"
                            href={`/artist/${song?.artists[0].id}`}
                        >
                            {song?.artists[0].name}
                        </a>
                        {
                            song?.artists.slice(1).length ? (
                                <div class="text-gray-600 text-md font-semibold text-left">
                                    ft.{" "}
                                    {song?.artists
                                        .slice(1)
                                        .map((artist, index) => (
                                            <a
                                                href={`/artist/${artist.id}`}
                                                class="hover:underline"
                                            >
                                                {artist.name +
                                                    (index <
                                                    song.artists.slice(1)
                                                        .length -
                                                        1
                                                        ? ","
                                                        : "")}
                                            </a>
                                        ))}
                                </div>
                            ) : (
                                <div />
                            )
                        }
                    </div>
                </div>
            </div>

            <!-- Columna central: Canción -->
            <div class="flex flex-col items-center justify-center">
                <!-- Imagen de la canción -->
                <SongPageCover
                    song={song}
                    album={album}
                    inDatabase={inDatabase}
                    client:only="react"
                />

                <!-- Nombre de la canción -->
                <h1 class="text-center text-3xl font-bold mt-4">
                    {song?.name}
                </h1>
            </div>

            <!-- Columna derecha: Álbum -->
            <div class="flex flex-col items-center justify-center">
                <div
                    class="flex items-center bg-gray-200 p-4 rounded-lg shadow-md w-full max-w-sm"
                >
                    <!-- Nombre del álbum -->
                    <div class="ml-4">
                        <a
                            class="text-2xl font-bold text-gray-800 text-left hover:underline hover:cursor-pointer"
                            href={`/album/${album?.album.id}`}
                        >
                            {album?.album.name}
                        </a>
                        <p
                            class="text-gray-600 text-md font-semibold text-left"
                        >
                            {
                                album?.album.releaseDate
                                    .split("-")
                                    .reverse()
                                    .join("/")
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <section class="my-10 mx-16 flex flex-row justify-between">
            <div class="mx-auto px-8 py-8 bg-[#303030] rounded-lg">
                <h2 class="text-2xl font-bold mb-4 text-center">Lyrics</h2>
                <div>
                    <div class="text-white transition-all text-justify">
                        {
                            song.lyrics
                                ? song?.lyrics
                                      .split("\n")
                                      .map((line) => (
                                          <p class="text-center">{line}</p>
                                      ))
                                : "Lyrics not available"
                        }
                    </div>
                </div>
            </div>
            <div class="mx-auto px-8 py-8 bg-[#303030] rounded-lg h-fit">
                <h2 class="text-2xl font-bold text-left pb-4">
                    More songs from <a
                        class="hover:underline italic"
                        href={`/album/${album?.album.id}`}
                        >{album?.album.name}</a
                    >
                </h2>
                {
                    album?.songs.map((song, index) => (
                        <a
                            href={`/song/${song.id}`}
                            class="flex-none w-48 group transition"
                        >
                            <div class="flex justify-between items-center mt-2">
                                {/* Índice */}
                                <label class="text-[#b2b2b2] font-semibold mr-3">
                                    {index + 1}
                                </label>

                                {/* Nombre de la canción */}
                                <label class="truncate font-semibold block group-hover:underline cursor-pointer">
                                    {song.name}
                                </label>

                                {/* Duración */}
                                <span class="ml-auto text-right text-[#b2b2b2]">
                                    {getTime(song.duration)}
                                </span>
                            </div>
                        </a>
                    ))
                }
            </div>
        </section>

        <section class="px-32 pt-12 pb-3 text-white">
            <h2 class="text-2xl font-bold text-left">
                More songs from the Artist
            </h2>
            <!-- Aqui podemos poner el nombre del artista tipo mas canciones de Eminem -->
            <div
                class="relative flex items-center gap-5 overflow-x-auto py-4 px-2"
            >
                {
                    artistSongs?.tracks.map((song) => (
                        <a
                            href={`/song/${song.id}`}
                            class="flex-none w-48 hover:scale-105 transition"
                        >
                            <img
                                class="rounded-lg w-full aspect-square object-cover"
                                src={
                                    song.album.images[0].url ||
                                    "/song-placeholder.png"
                                }
                                alt="Song Cover"
                            />
                            <label class="truncate font-semibold text-center block mt-2">
                                {song.name}
                            </label>
                            <label class="truncate text-sm text-center text-gray-400 block">
                                {song.album.name}
                            </label>
                        </a>
                    ))
                }
            </div>
        </section>
    </div>
</Layout>
