---
import Layout from "@/layouts/Layout.astro";
import { db, parseSong, type RawSongDB } from "@/lib/db";

if (!Astro.locals.user) {
    return Astro.redirect("/login");
}
const { id } = Astro.params as { id: string };

let inDatabase;
let song;
let album;
song = parseSong(
    db.prepare("SELECT * FROM song WHERE id = ?").get(id) as RawSongDB
);

if (song) {
    inDatabase = true;
}
---

<Layout title="Rock It!" currentPage="Song-Info">
    <div class="w-full mx-auto p-6">
        <!-- Header con botones y carátula -->
        <div class="w-full mx-auto p-6 grid grid-cols-3 gap-4 items-center">
            <!-- Columna izquierda: Artista -->
            <div class="flex flex-col items-center justify-center">
                <div
                    class="flex items-center bg-gray-200 p-4 rounded-lg shadow-md w-full max-w-sm"
                >
                    <!-- Foto del artista -->
                    <div
                        class="w-32 h-32 bg-gray-300 rounded-full overflow-hidden flex-shrink-0"
                    >
                        <img
                            src="/user-placeholder.png"
                            alt="Artista"
                            class="w-full h-full object-cover"
                        />
                    </div>
                    <!-- Nombre del artista -->
                    <div class="ml-4">
                        <a
                            class="text-2xl font-bold text-gray-800 text-left hover:underline hover:cursor-pointer"
                            href={`/artist/${song?.artists[0].id}`}
                        >
                            {song?.artists[0].name}
                        </a>
                        {
                            song?.artists.slice(1).length ? (
                                <div class="text-gray-600 text-md font-semibold text-left">
                                    ft.{" "}
                                    {song?.artists
                                        .slice(1)
                                        .map((artist, index) => (
                                            <a
                                                href={`/artist/${artist.id}`}
                                                class="hover:underline"
                                            >
                                                {artist.name +
                                                    (index <
                                                    song.artists.slice(1)
                                                        .length -
                                                        1
                                                        ? ","
                                                        : "")}
                                            </a>
                                        ))}
                                </div>
                            ) : (
                                <div />
                            )
                        }
                    </div>
                </div>
            </div>

            <!-- Columna central: Canción -->
            <div class="flex flex-col items-center justify-center">
                <!-- Imagen de la canción -->
                <div
                    class="w-full max-w-md h-auto bg-gray-300 rounded-lg overflow-hidden shadow-md"
                >
                    <img
                        src={`/api/image/${song?.image}` ||
                            "/song-placeholder.png"}
                        alt="Carátula de la canción"
                        class="w-full h-full object-cover hover:brightness-50 transition-all"
                    />
                </div>
                <!-- Nombre de la canción -->
                <h1 class="text-center text-2xl font-bold mt-4">
                    {song?.name}
                </h1>
            </div>

            <!-- Columna derecha: Álbum -->
            <div class="flex flex-col items-center justify-center">
                <div
                    class="flex items-center bg-gray-200 p-4 rounded-lg shadow-md w-full max-w-sm"
                >
                    <!-- Nombre del álbum -->
                    <div class="ml-4">
                        <a
                            class="text-2xl font-bold text-gray-800 text-left hover:underline hover:cursor-pointer"
                            href={`/album/${song?.albumId}`}
                        >
                            {song?.albumName}
                        </a>
                        <p
                            class="text-gray-600 text-md font-semibold text-left"
                        >
                            {song?.date.replaceAll("-", "/")}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <section class="my-10 bg-[#303030] py-8 rounded-lg mx-16 w-fit">
            <div class="mx-auto px-8">
                <h2 class="text-2xl font-semibold mb-4 text-center">Lyrics</h2>
                <div>
                    <div class="text-white transition-all text-justify">
                        {
                            song?.lyrics
                                .split("\n")
                                .map((line) => (
                                    <p class="text-center">{line}</p>
                                ))
                        }
                    </div>
                </div>
            </div>
        </section>

        <section class="px-32 pt-12 pb-3 text-white">
            <h2 class="text-2xl font-bold text-left">
                More songs from the Album
            </h2>
            <!-- Aqui podemos poner el nombre del artista tipo mas canciones del album... -->
            <div
                class="relative flex items-center gap-5 overflow-x-auto py-4 px-2"
            >
                {
                    Array.from({ length: 10 }).map((_, index) => (
                        <a
                            href="#"
                            class="flex-none w-48 hover:scale-105 transition"
                        >
                            <img
                                class="rounded-lg w-full aspect-square object-cover"
                                src="/song-placeholder.png"
                                alt="Song Cover"
                            />
                            <label class="truncate font-semibold text-center block mt-2">
                                Song {index + 1}
                            </label>
                            <label class="truncate text-sm text-center text-gray-400 block">
                                Artists o Year
                            </label>
                        </a>
                    ))
                }
            </div>
        </section>

        <section class="px-32 pt-12 pb-3 text-white">
            <h2 class="text-2xl font-bold text-left">
                More songs from the Artist
            </h2>
            <!-- Aqui podemos poner el nombre del artista tipo mas canciones de Eminem -->
            <div
                class="relative flex items-center gap-5 overflow-x-auto py-4 px-2"
            >
                {
                    Array.from({ length: 10 }).map((_, index) => (
                        <a
                            href="#"
                            class="flex-none w-48 hover:scale-105 transition"
                        >
                            <img
                                class="rounded-lg w-full aspect-square object-cover"
                                src="/song-placeholder.png"
                                alt="Song Cover"
                            />
                            <label class="truncate font-semibold text-center block mt-2">
                                Song {index + 1}
                            </label>
                            <label class="truncate text-sm text-center text-gray-400 block">
                                Artists o Albums
                            </label>
                        </a>
                    ))
                }
            </div>
        </section>

        <section class="px-32 pt-12 pb-3 text-white">
            <h2 class="text-2xl font-bold text-left">Related Songs</h2>
            <!-- Aqui podemos poner el nombre del artista tipo mas canciones de Eminem -->
            <div
                class="relative flex items-center gap-5 overflow-x-auto py-4 px-2"
            >
                {
                    Array.from({ length: 10 }).map((_, index) => (
                        <a
                            href="#"
                            class="flex-none w-48 hover:scale-105 transition"
                        >
                            <img
                                class="rounded-lg w-full aspect-square object-cover"
                                src="/song-placeholder.png"
                                alt="Song Cover"
                            />
                            <label class="truncate font-semibold text-center block mt-2">
                                Song {index + 1}
                            </label>
                            <label class="truncate text-sm text-center text-gray-400 block">
                                Artist o Year
                            </label>
                        </a>
                    ))
                }
            </div>
        </section>
    </div>
</Layout>
