---
import LikeButton from "@/components/LikeButton";
import LyricsSection from "@/components/SongPage/SongPageLyrics";
import Layout from "@/layouts/Layout.astro";
import getAlbum from "@/lib/getAlbum";
import { getTime } from "@/lib/getTime";

import type {
    SpotifyArtist,
    SpotifyArtistTopTracks,
    SpotifyTrack,
} from "@/types/spotify";

import SongPageCover from "@/components/SongPage/SongPageCover";
import { db } from "@/lib/db/db";
import { type RawSongDB, type SongDB } from "@/lib/db/song";
import { ENV } from "@/rockitEnv";
import { EllipsisVertical } from "lucide-react";

const { id } = Astro.params as { id: string };

let inDatabase;
let song:
    | SongDB<
          | "id"
          | "albumId"
          | "artists"
          | "name"
          | "lyrics"
          | "image"
          | "path"
          | "images"
          | "albumName"
          | "duration"
      >
    | undefined;
let artistSongs;
let album;
let artist: SpotifyArtist | undefined;
song = (await db.prepare("SELECT * FROM song WHERE id = ?").get(id)) as SongDB;

const BACKEND_URL = ENV.BACKEND_URL;

if (song) {
    inDatabase = true;

    const _album = await getAlbum(song?.albumId);
    if (_album == "error connecting to backend") {
    } else if (_album == "not found") {
    } else {
        album = _album;
    }
} else {
    inDatabase = false;
    let response;

    response = await fetch(`${BACKEND_URL}/song/${id}`, {
        signal: AbortSignal.timeout(2000),
    });
    if (response.ok) {
        const spotifySong = (await response.json()) as SpotifyTrack;
        song = {
            id: spotifySong.id,
            image: "",
            albumId: spotifySong.album.id,
            artists: spotifySong.artists,
            name: spotifySong.name,
            lyrics: "",
            path: "",
            images: spotifySong.album.images,
            albumName: spotifySong.album.name,
            duration: spotifySong.duration_ms / 1000,
        };
    } else {
        return new Response("Song not found", { status: 404 });
    }
    const _album = await getAlbum(song.albumId);
    if (_album == "error connecting to backend") {
    } else if (_album == "not found") {
    } else {
        album = _album;
    }
}

if (!album) {
    throw "Album not found";
}

let response;

response = await fetch(
    `${BACKEND_URL}/artist-top-songs/${song.artists[0].id}`,
    {
        signal: AbortSignal.timeout(2000),
    }
);
if (response.ok) {
    artistSongs = (await response.json()) as SpotifyArtistTopTracks;
}

response = await fetch(`${BACKEND_URL}/artist/${song.artists[0].id}`, {
    signal: AbortSignal.timeout(2000),
});
if (response.ok) {
    artist = await response.json();
}

const meta = {
    "og:site_name": "Rockit",
    site_name: "Rockit",
    "og:title": song.name,
    title: song.name,
    description: `${song.artists.map((artist) => artist.name)} • Song`,
    "og:description": `${song.artists.map((artist) => artist.name)} • Song`,
    "og:url": `https://rockit.rockhosting.org/song/${id}`,
    "og:type": "music.song",
    "og:image": song.image
        ? `https://rockit.rockhosting.org/api/image/${song.image}`
        : song.images[0].url,
};
---

<Layout
    title={song.name + " • Rock It!"}
    currentPage="Song"
    meta={meta}
    bgImage={`/api/image/blur/${song.image}`}
>
    <div class="w-full mx-auto md:px-6 pb-6 mt-20 md:mt-0">
        <!-- Header con botones y carátula -->
        <div
            class="w-full mx-auto px-10 md:p-6 grid grid-cols-1 md:grid-cols-3 gap-4 items-center"
        >
            <!-- Columna izquierda: Artista -->
            <div class="hidden md:flex flex-col items-center justify-center">
                <div
                    class="flex items-center bg-neutral-200 p-4 rounded-lg shadow-md w-full max-w-sm"
                >
                    <!-- Foto del artista -->
                    <div
                        class="w-32 h-32 bg-neutral-300 rounded-full overflow-hidden flex-shrink-0"
                    >
                        <img
                            src={artist?.images[0].url ||
                                "/user-placeholder.png"}
                            alt="Artista"
                            class="w-full h-full object-cover"
                        />
                    </div>
                    <!-- Nombre del artista -->
                    <div class="ml-4">
                        <a
                            class="text-2xl font-bold text-gray-800 text-left md:hover:underline md:hover:cursor-pointer"
                            href={`/artist/${song?.artists[0].id}`}
                        >
                            {song?.artists[0].name}
                        </a>
                        {
                            song?.artists.slice(1).length ? (
                                <div class="text-gray-600 text-md font-semibold text-left">
                                    ft.{" "}
                                    {song?.artists
                                        .slice(1)
                                        .map((artist, index) => (
                                            <a
                                                href={`/artist/${artist.id}`}
                                                class="md:hover:underline"
                                            >
                                                {artist.name +
                                                    (index <
                                                    song.artists.slice(1)
                                                        .length -
                                                        1
                                                        ? ","
                                                        : "")}
                                            </a>
                                        ))}
                                </div>
                            ) : (
                                <div />
                            )
                        }
                    </div>
                </div>
            </div>

            <!-- Columna central: Canción -->
            <div class="flex flex-col items-center justify-center">
                <!-- Imagen de la canción -->
                <SongPageCover
                    song={song}
                    album={album}
                    inDatabase={inDatabase}
                    client:only="react"
                />

                <!-- Nombre de la canción -->
                <h1
                    class="text-center text-3xl font-bold mt-4 z-10 line-clamp-3"
                >
                    {song?.name}
                </h1>

                <!-- Nombre del álbum y artista -->
                <div class="flex flex-col items-center md:hidden">
                    <p
                        class="text-center text-2xl font-semibold text-neutral-300 line-clamp-2 py-2"
                    >
                        <a href={`/album/${album?.album.id}`}>
                            {album?.album.name}
                        </a>
                    </p>
                    <p
                        class="text-center text-lg font-semibold text-neutral-400 line-clamp-2"
                    >
                        {
                            song?.artists.map((artist, index) => (
                                <span>
                                    <a href={`/artist/${artist.id}`}>
                                        {artist.name}
                                    </a>
                                    {index < song.artists.length - 1 && ", "}
                                </span>
                            ))
                        }
                    </p>
                </div>

                <!-- Botones de Like y Add to playlist/queue -->
                <div class="flex justify-center mt-4 space-x-4">
                    <a
                        class="flex items-center space-x-2 p-2 bg-[#3030306f] rounded hover:bg-[#313131] select-none"
                    >
                        <LikeButton song={song} client:only="react" />
                        <span>Like</span>
                    </a>
                    <button
                        class="flex items-center space-x-2 p-2 bg-[#3030306f] rounded hover:bg-[#313131]"
                    >
                        <EllipsisVertical className="w-5 h-5" />
                        <span>More Options</span>
                    </button>
                </div>
            </div>

            <!-- Columna derecha: Álbum -->
            <div class="hidden md:flex flex-col items-center justify-center">
                <div
                    class="flex items-center bg-neutral-200 p-4 rounded-lg shadow-md w-full max-w-sm"
                >
                    <!-- Nombre del álbum -->
                    <div class="ml-4">
                        <a
                            class="text-2xl font-bold text-gray-800 text-left md:hover:underline md:hover:cursor-pointer"
                            href={`/album/${album?.album.id}`}
                        >
                            {album?.album.name}
                        </a>
                        <p
                            class="text-gray-600 text-md font-semibold text-left"
                        >
                            Album released on
                            {
                                album?.album.releaseDate
                                    .split("-")
                                    .reverse()
                                    .join("/")
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <section
            class="my-5 md:mx-16 px-6 md:px-0 flex flex-col md:flex-row justify-between gap-5"
        >
            <LyricsSection song={song} client:only="react" />

            <div
                class="mx-auto w-full md:max-w-[66%] px-4 md:px-8 py-8 bg-[#3030306f] rounded-lg h-fit"
            >
                <h2 class="text-xl font-bold text-center md:text-left pb-4">
                    Songs from
                    <a
                        class="md:hover:underline text-2xl text-balance inline-block"
                        href={`/album/${album?.album.id}`}
                    >
                        {album?.album.name}
                    </a>
                </h2>
                {
                    album?.songs.map((song, index) => (
                        <a
                            href={`/song/${song.id}`}
                            class="flex-none w-48 group transition"
                        >
                            <div class="flex justify-between mt-2">
                                {/* Índice */}
                                <label class="text-[#b2b2b2] font-semibold mr-2 md:mr-3">
                                    {index + 1}
                                </label>

                                {/* Nombre de la canción */}
                                <label class="flex-1 truncate font-semibold group-hover:underline cursor-pointer">
                                    {song.name}
                                </label>

                                {/* Duración */}
                                <span class="text-right text-[#b2b2b2] ml-2 md:ml-auto">
                                    {getTime(song.duration)}
                                </span>
                            </div>
                        </a>
                    ))
                }
            </div>
        </section>

        <section class="md:px-12 md:py-5 text-white">
            <h2
                class="text-2xl md:text-3xl font-bold px-5 md:px-0 text-center md:text-left"
            >
                More songs from
                {song?.artists[0].name}
            </h2>
            <!-- Aqui podemos poner el nombre del artista tipo mas canciones de Eminem -->
            <div
                class="relative flex items-center gap-5 overflow-x-auto py-4 px-10 md:[scrollbar-gutter:stable]"
            >
                {
                    artistSongs?.tracks
                        .filter((song) => song.id != id)
                        .map((song) => (
                            <a
                                href={`/song/${song.id}`}
                                class="flex-none w-40 md:w-48 md:hover:scale-105 transition"
                            >
                                <img
                                    class="rounded-lg w-full aspect-square object-cover"
                                    src={
                                        song.album.images[0].url ||
                                        "/song-placeholder.png"
                                    }
                                    alt="Song Cover"
                                />
                                <label class="truncate font-semibold text-center block mt-2">
                                    {song.name}
                                </label>
                                <label class="truncate text-sm text-center text-gray-400 block">
                                    {song.album.name}
                                </label>
                            </a>
                        ))
                }
            </div>
        </section>
        <div class="min-h-10 md:min-h-0"></div>
    </div>
</Layout>
