---
import "@/styles/default.css";
import Header from "@/components/Header.astro";
import Navigation from "@/components/Navigation.tsx";
import Footer from "@/components/Footer.astro";

import { ViewTransitions } from "astro:transitions";
import PlayerUI from "@/components/PlayerUI.tsx";

export interface Props {
    currentPage: string;
    title?: string;
    meta?: { [key: string]: string };
    bgImage?: string;
}

const { currentPage } = Astro.props;
const { title } = Astro.props;
const { meta } = Astro.props;
const { bgImage } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Rock It! - A music player by Icass & Nicorebo18"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <meta name="generator" content={Astro.generator} />

        <!--Fullscreen de Apple-->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="theme-color" content="#0b0b0b" />

        {
            meta &&
                Object.entries(meta).map((metaItem) => (
                    <>
                        <meta name={metaItem[0]} content={metaItem[1]} />
                        <meta property={metaItem[0]} content={metaItem[1]} />
                    </>
                ))
        }

        <link rel="icon" type="image/svg+xml" href="/rockit-logo.ico" />
        <link rel="manifest" href="/manifest.json" />
        <title>{title || "RockIt"}</title>
        <ViewTransitions />
    </head>
    <body>
        <main
            class="relative grid grid-rows-[min-content_1fr_min-content_min-content] md:grid-rows-[min-content_1fr_min-content] md:grid-cols-[min-content_1fr] max-w-full min-w-0 w-full"
        >
            {
                bgImage && (
                    <img
                        src={bgImage}
                        class="block w-[500px] h-[500px] blur-[100px] opacity-20 absolute top-1/3 -translate-y-1/2 left-1/2"
                    />
                )
            }

            <div
                style={{ gridArea: "header" }}
                class="min-w-0 max-w-full w-full"
            >
                <Header />
            </div>
            <div style={{ gridArea: "nav" }} class="z-50">
                <Navigation
                    activePage={currentPage}
                    client:only="react"
                    transition:persist
                />
            </div>

            <!-- Main content -->
            <div
                class="block min-w-0 max-w-full w-full min-h-0 max-h-full overflow-hidden relative"
                style={{ gridArea: "main" }}
            >
                <PlayerUI client:only="react" />
                <div class="overflow-auto w-full h-full absolute px-3 mb:px-0">
                    <slot />
                </div>
                <!-- <div class="w-full h-4 top-0 bg-gradient-to-b absolute from-[#0b0b0b] to-transparent"></div> Este tapa algunmas cosas, en cuanto tengamos todo lo metemos como feature bien-->
                <!-- <div class="w-full h-4 bottom-0 bg-gradient-to-t absolute from-[#1a1a1a] to-transparent"></div> El de arriba te lo puedo comprar este no me ha terminado de convencer -->
            </div>

            <!-- Footer -->
            <div
                class="min-w-0 max-w-full min-h-0 max-h-full overflow-auto z-10"
                style={{ gridArea: "footer" }}
            >
                <Footer />
            </div>

            <!-- Overlay Menu -->
            <div
                id="menu-overlay"
                class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 opacity-0 pointer-events-none transition-all duration-300"
            >
            </div>
        </main>
    </body>
</html>

<style>
    main {
        grid-template-areas:
            "header"
            "main"
            "footer"
            "nav";
    }

    @media (min-width: 768px) {
        main {
            grid-template-areas:
                "nav header"
                "nav main"
                "footer footer";
        }
    }
</style>
