---
import Layout from "@/layouts/Layout.astro";
import { db } from "@/db/db";
import { Link } from "lucide-react";
import type { ErrorDB } from "@/lib/db/error";
if (!Astro.locals.user?.admin) {
    return new Response("Page not found", { status: 404 });
}

const users = db.prepare("SELECT id FROM user").all();
const albums = db.prepare("SELECT id FROM album").all();
const playlists = db.prepare("SELECT id FROM playlist").all();
const songs = db.prepare("SELECT id FROM song").all();
const songsWithoutLyrics = db
    .prepare("SELECT id FROM song WHERE lyrics IS NULL")
    .all();
const errors = db.prepare("SELECT id, dateAdded FROM error").all() as ErrorDB[];

const tables = db
    .prepare("SELECT name FROM sqlite_schema WHERE type='table'")
    .all() as { name: string }[];

const gradientTextClass =
    "text-xl [background:-webkit-linear-gradient(0deg,#fb6467,#ee1086)] [-webkit-text-fill-color:transparent] font-bold";
---

<Layout currentPage="Admin">
    <div class="mt-16 mb-16 md:mt-0 md:mb-0 p-2 flex flex-col gap-y-1">
        <label class="text-2xl font-semibold">Admin panel</label>
        <div
            class="grid grid-cols-1 md:grid-cols-[repeat(auto-fill,_minmax(430px,_1fr))] gap-2"
        >
            <div class="bg-neutral-700 p-2 rounded flex flex-col items-center">
                <label class="text-lg font-semibold w-full">Users</label>
                <div>
                    <label
                        class={gradientTextClass}
                        style="background-clip: text;"
                        >{users.length}
                    </label>
                    <label>Users</label>
                </div>
                <div class="h-full"></div>
                <a href="/admin/user" class="w-full relative"
                    ><Link className="right-0 relative ml-auto" /></a
                >
            </div>
            <div class="bg-neutral-700 p-2 rounded flex flex-col items-center">
                <label class="text-lg font-semibold w-full">Songs</label>

                <div>
                    <label
                        class={gradientTextClass}
                        style="background-clip: text;"
                        >{songs.length}
                    </label>
                    <label>Songs</label>
                </div>
                <div>
                    <label
                        class={gradientTextClass}
                        style="background-clip: text;"
                        >{songs.length - songsWithoutLyrics.length}
                    </label>
                    <label>Songs with lyrics</label>
                </div>
                <div class="h-full"></div>
                <a href="/admin/songs" class="w-full relative"
                    ><Link className="right-0 relative ml-auto" /></a
                >
            </div>

            <div class="bg-neutral-700 p-2 rounded flex flex-col items-center">
                <label class="text-lg font-semibold w-full">Lists</label>

                <div>
                    <label
                        class={gradientTextClass}
                        style="background-clip: text;"
                        >{albums.length + playlists.length}
                    </label>
                    <label>Lists</label>
                </div>
                <div>
                    <label
                        class={gradientTextClass}
                        style="background-clip: text;"
                        >{albums.length}
                    </label>
                    <label>Albums</label>
                </div>
                <div>
                    <label
                        class={gradientTextClass}
                        style="background-clip: text;"
                        >{playlists.length}
                    </label>
                    <label>Playlists</label>
                </div>
                <div class="h-full"></div>
                <a href="/admin/lists" class="w-full relative"
                    ><Link className="right-0 relative ml-auto" /></a
                >
            </div>

            <div class="bg-neutral-700 p-2 rounded flex flex-col items-center">
                <label class="text-lg font-semibold w-full">Error log</label>

                <div>
                    <label
                        class={gradientTextClass}
                        style="background-clip: text;"
                        >{errors.length}
                    </label>
                    <label>Errors</label>
                </div>
                <div>
                    <label
                        class={gradientTextClass}
                        style="background-clip: text;"
                        >{
                            errors.filter(
                                (error) =>
                                    error.dateAdded >
                                    new Date().getTime() -
                                        1000 * 60 * 60 * 24 * 7
                            ).length
                        }
                    </label>
                    <label>Erros since last week</label>
                </div>
                <div class="h-full"></div>
                <a href="/admin/error" class="w-full relative"
                    ><Link className="right-0 relative ml-auto" /></a
                >
            </div>
            <div class="bg-neutral-700 p-2 rounded flex flex-col items-center">
                <label class="text-lg font-semibold w-full">DB</label>

                <div>
                    <label
                        class={gradientTextClass}
                        style="background-clip: text;"
                        >{tables.length}
                    </label>
                    <label>Tables</label>
                </div>
                <div class="grid grid-cols-3 gap-x-3">
                    {
                        tables.map((table) => {
                            const count = db
                                .prepare(`SELECT id FROM ${table.name}`)
                                .all().length;

                            return (
                                <a
                                    href={`/admin/db/${table.name}`}
                                    class="text-sm flex flex-row justify-between items-baseline gap-x-1"
                                >
                                    <label class="md:hover:underline">
                                        {table.name}
                                    </label>
                                    <label
                                        class={gradientTextClass}
                                        style="background-clip: text;"
                                    >
                                        {count}
                                    </label>
                                </a>
                            );
                        })
                    }
                </div>

                <div class="h-full"></div>
                <a href="/admin/db" class="w-full relative"
                    ><Link className="right-0 relative ml-auto" /></a
                >
            </div>
        </div>
    </div>
</Layout>
